* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Courier;
	font-size: 13px;
}

img {
	vertical-align: text-bottom;
}

div#div-wrap {
	width: 1000px;
	margin: auto;
}

div#div-left {
	float: left;
	width: 240px;
}

fieldset {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;

	border: none !important;
}

fieldset legend {
	padding: 3px 10px;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0 0 2px #CCC;

	background-color: #FFF;
	border: solid 1px #999;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	box-shadow: 0 0 2px #888;
}

input[type=text] {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	box-shadow: 0 0 2px #888;

	border: solid 1px #999;
	padding: 2px;
}

#elementos{
	float: left;
	width: 200px;
	background-color: #D5E1DD;
	padding: 10px;
	margin: 10px;
}

#elementos ol {
	list-style: none;
}

#elementos ol li{
	margin: 10px 5px;
	cursor: move;
}

#elementos ol li *{
	cursor: move;
}

#configuracoes {
	float: left;
	clear: left;
	left: 0px;
	top: 170px;
	width: 200px;
	background-color: #FDEDD0;
	padding: 10px;
	margin: 10px;
}

#configuracoes ol {
	list-style: none;
}

#configuracoes ol li{
	margin: 10px 5px;
}

#configuracoes ol li label{
	font-weight: bold;
}

#formulario{
	float: left;
	width: 350px;
	background-color: #EFEFEF;
	padding: 10px;
	margin: 10px;
}

#formulario ol {
	list-style: none;
}

#formulario ol li{
	padding: 10px;
	margin-bottom: 10px;
}

#formulario ol li div.ordem{
	visibility: hidden;
	float: right;
	margin-top: -24px;
}

#formulario ol li.em_edicao{
	background-color: #FFF;

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#formulario ol li.em_edicao div.ordem{
	visibility: visible;
}

#formulario ol li label {
	display: inline-block;
}

#formulario ol li label,
#formulario ol li label input {
	margin-right: 5px;
}

#formulario ol li label.label_campo{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#propriedades {
	float: left;
	display: none;
	background-color: #CCE9CC;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

#propriedades div{
	display: none;
}

#propriedades ul {
	list-style: none;
}

#propriedades ul li{
	padding: 4px;
}

#propriedades ul li label{
	font-weight: bold;
}

#propriedades ul li input[type=text]{
	margin-left: 10px;
	margin-top: -2px;
}

#propriedades ul li ol{
	list-style: none;
	margin-left: 20px;
}

#propriedades ul li ol li {
	border-top: solid 1px #999;
}

#propriedades ul li ol li:first-child {
	border-top: none;
}

#propriedades ul li ol li label{
	display: block;
	padding: 4px;
}

#propriedades_option {
	max-height: 300px;
	overflow: auto;
}

button {
	margin-top: 5px;

	background-color: #F3F3F3;
	border: solid 1px #999;
	text-shadow: 0 0 2px #CCC;

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px #888;
	box-shadow: 0 0 2px #888;

	font-weight: bold;
	color: #333;
	padding: 3px 6px;
	cursor: pointer;
}

.required {
	color: red;
	font-weight: bold;
}