/******************************** Modifications by ID ********************************/
#main {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#heading {
	padding: 10px;
	margin-bottom: 10px;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.70, rgb(235,250,240)),
	color-stop(1, rgb(142,204,155))
	);	
	border: 1px solid #cccccc;
	font-size: 1.4em;
	font-style: italic;
	font-family: Palatino;
	right: 20px;
	text-align: center;
}

#heading .projectName{
	text-align: left;
	font-size: 2.4em;
	font-style: normal;
	font-weight: bold;
	color: #1e7315;
}

#heading .projectNameFull{
	font-size:     0.7em;
	text-align:    right;
	font-weight:    bold;
	position:   relative;
	bottom:         7px;
}

#content {
	border: thin solid lightGray;
	top: 160px;
	height: 600px;
}

#footer {
	padding: 10px;
	margin-top: 10px;
	background: -webkit-gradient(
	linear,
	left top,
	left bottom,	
	color-stop(0.70, rgb(235,250,240)),
	color-stop(1, rgb(142,204,155))
	);	
	border: 1px solid #cccccc;
	font-size: 0.8em;
	font-family: sans-serif;
	right: 20px;
	text-align: center;
}

/******************************** Modifications by Tag ********************************/
form.headerMenu{
	float: right;
	vertical-align: top;
	height: 121px;
}

table.headerPanel{
	
}

input.inputButton{
	font-weight: bold;
}

a, a:visited{
	color: #17801a;
}

a.userNameLink{
	font-size:		 14px;
	text-decoration: none;
}

/*** Modifications Specific to some tags ***/
img.upperIcon{
	width: 22px;
	height: 22px;
}

td.rf-tab-hdr.transparentTopPanelItem{
	border: 0px;
	vertical-align: middle;
	background-image: none;
	background-color: transparent;
	padding-bottom: 0px;
	color: #17801a;
}

td.rf-tab-hdr.userSettingsTopPanelItem{
	font-weight: bold;
}

td.emptyTopPanelItem{
/* TODO The width of this tab should be calculated and not hard coded,     */
/* TODO otherwise there will be problems if the number of modules changes! */	
	width: 565px;
	float: right;
}

span.projectBetaDisclaimer{
	position:   relative;
	right:          30px;
	top:            20px;
	color:           red;
	font-style:   normal;
	font-size:      16px;
	font-weight:    bold;
	font-family: cursive;	
}

/******************************** Modifications by Class ********************************/
.subModuleLabel, .subModuleLabel:HOVER{
	background-color: rgb(235,250,240);
	color:                       black;
}

.subModuleLabel:HOVER, .rf-pm-top-itm-sel.subModuleLabel:HOVER{
	font-style: italic;
}

.rf-pm-top-itm-sel.subModuleLabel{
	background-color: rgb(131,212,162);
	font-weight:                  bold;
	font-style:                 normal;
	font-size:                    16px;
	color:                       black;
}

.loginArea{
	border: 1px solid #cccccc;
	width: 300px;	
}

.projectDescriptionArea{
	width: 500px;
}

.projectWelcome{
	font-weight: bold;
	font-size: 2.4em;
}

.projectDescription{
	font-size: 1.2em;
	text-align: justify;
	
}

.panelContent {
	width: 853px;
	height: 560px;
	padding: 0px;
}

.menuLeft {
	width: 160px;
	padding: 0px;
}

.error {
	color: red;
}

.formIdValue,.formXmlValue {
	width: 300px;
}

.formXmlValue {
	height: 350px;
}

.cols {
	vertical-align: top;
	padding: 0px;
}

.tabContent {
	padding: 0px;
}

.listItem {
	margin-left: 10px;
}

.listItemOption {
	float: right;
}

.columnClass1 {
	border-bottom: thin dotted gray;
	height: 30px;
}

.maritacaMessages{
	float: right;
	margin-right: 20px;
}

.maritacaMsg{
	display: none;
	padding: 5px;
	font-family: sans-serif;
	font-size: small;
	background-color:#dddddd;
	margin-bottom: 2px;
}

.errMsg{
	background-color: #FF4747;
	border-color: #8A0000;
}

.infoMsg{
	background-color: #A3DBFF;
	border-color: #5A63FF;
}

.warnMsg{
	background-color: #FFE459;
	border-color: #FFAC24;
}

.label1{
	color: #1e7315;
	font-weight: bold;
}

/******************************** Modifications to the Skin ********************************/
.rf-au{
	font-size: small;
}

.rf-tb-itm{
	padding: 0px;
}

.rf-tab-lbl{
	font-size: 14px;
}

td.rf-pm-top-itm-lbl{
	font-size: 12px;
}

.rf-p{
	background-color: #ffffff;
}

.rf-pm-top-itm-sel {
	background: #dddddd;
}

.rf-tb{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.11, rgb(131,212,162)),
	color-stop(0.36, rgb(170,230,189))
	);	
}